body {
    margin: 0px;
}
.quizzC {
    width: 100%;
    display: flex;
    background-color: #bdc3c7;
    min-height: 30em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2em;
}
.question {
    font-size: 3.5em;
    color: white;
}
.answ {
    min-height: 10em;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    padding: 0em 3em 0em 3em;
}
.answBtn {
    width: 40%;
    margin: auto;
    height: 3em;
}
.answBtn:hover {
    transform: scale(1.05);
}
.selected {
    background-color: white;
}
.submitBtn {
    background-color: $primary;
}